*{
    margin: 0;
    box-sizing: border-box;
}
.Banner {
    float: left;
    width: 100%;
}
.Banner img {
    width: 100%;
    vertical-align: middle;
}
.Nav {
    float: left;
    width: 100%;
    background: #000;
}
.Nav li {
    float: left;
    width: 25%;
    text-align: center;
    list-style: none;
}
.Nav a {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
.Nav a:hover {
    background: #666;
}
.Content{
    float:left;
    width: 100%;
    padding: 15px;
}
div h1.Center{
    text-align: center;
}
div.Content div.Resultado{
    display: none;
    float: left;
    width: 70%;
    border: 2px solid #00ff0d;
    background: #d8ffd5;
    padding: 3%;
    height: 100px;
    margin: 20px 15% 10px 15%;
    font-size: 20px;
    text-align: center;
}
div.Formulario{
    float: left;
    width: 70%;
    height: 300px;
    margin: 20px 15%;
}
div.FormularioInput{
    float: left;
    width: 50%;
    padding: 0 5%;
    font-size: 24px;
}
div.FormularioInput100{
    width: 100% !important;
}
div.FormularioInput input[type='submit']{
    display:inline-block; 
    padding: 15px 35px; 
    margin: 15px 0; 
    border:0; 
    outline: none;
    cursor: pointer; 
    background: #000000; 
    color:#fff; font-weight: bold; 
    text-align: center;
    border-radius: 10px;
}
div.FormularioInput select[type='submit']{
    display:inline-block; 
   width: 100%;
   height: 45px;
}
