* {

	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	
}

header {
	width: 100%;
	height: 200px;
	background: #ccc;
	position: relative;
}

nav {
	width: 100%;
	height: 100px;
	background: #999;
	position: absolute;
	bottom: 0;
}

section {
	width: 100%;
	height: 500px;
	background: #95afc0;
}

footer {
	width: 100%;
	height: 200PX;
	background: #1BA39C;
}